###############################################################################
# Build Artifacts
###############################################################################
artifacts/
*.binlog

###############################################################################
# Default Artifacts
###############################################################################
bin/
build/
obj/

###############################################################################
# Test Artifacts
###############################################################################
TestResult.xml

###############################################################################
# Gradle
###############################################################################
.gradle/

###############################################################################
# Visual Studio and Visual Studio Code
###############################################################################
.vs/
.vscode/
